---
title: 技术资料
description: "分享正在使用或者觉得有价值的资料"
---

       <style>
        body{
            margin:0;padding:0;
            font-family: PingFang SC,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
        }
        a, button.submit {
            color:#6E7173;
            text-decoration:none;
            -webkit-transition:all .1s ease-in;
            -moz-transition:all .1s ease-in;
            -o-transition:all .1s ease-in;
            transition:all .1s ease-in;
        }
        a:hover, a:active {
            color:#6E7173;
        }
        .index404 {
            display: inline-block;
            white-space: nowrap;
            cursor: pointer;
            letter-spacing: 1px;
            font-size: 14px;
            -moz-user-select: -moz-none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            text-shadow: none;
            border: 2px solid #02ccba;
            line-height: 36px;
            text-align: center;
            height: 36px;
            padding: 0 25px;
            border-radius: 25px;
            background-color: #fff;
            color: #7b8993;
            box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
        }
        @-webkit-keyframes hue {
          from {
            -webkit-filter: hue-rotate(0deg);
          }

          to {
            -webkit-filter: hue-rotate(-360deg);
          }
        }
        </style>
		
<div class="main-content index-page clearfix ">
	<div class="post-lists">
	<div class="post-lists-body">
	  {% for posts in site.posts limit:26 %}
	   {% if posts.technology %}
		<div class="post-list-item">
			<div class="post-list-item-container">
					 <div class="item-thumb  bg-{{posts.background }}" style="background-image:url('{{posts.background-image }}-300x300');"></div>
				<a href="{{ posts.url }}">
					 <div class="item-desc">
						<p>{{ posts.content | strip_html | strip_newlines | truncate: 75 }}</p>
					</div>
				</a>
				<div class="item-slant reverse-slant  bg-{{ posts.background }}"></div>
				<div class="item-slant"></div>
				<div class="item-label">
					<div class="item-title"><a href="{{ posts.url }}">{{ posts.title }}</a></div>
					<div class="item-meta clearfix">
					  <div class="item-meta-ico bg-ico-book" style="background: url('../style/images/bg-ico.png') no-repeat;background-size: 40px auto;"></div>
					  <div class="item-meta-cat">
						 <a href="/technology" title="访问 {{ posts.category }}"  data-hover="{{ posts.category }}">{{ posts.category }}</a>
						 <a href="/archives#{{ posts.date | date: "%Y"}}" title="访问 {{ posts.date | date: "%Y"}}" data-hover="{{ posts.date | date: "%F %H:%M"}}">{{ posts.date | date: "%F %H:%M"}}</a>
					  </div>
					</div>
				</div>
			</div>
	    </div>
		{% endif %}
       {% endfor %}
	</div>
	</div>
<div class="lists-navigator clearfix" style="text-align:center;"> 
	<a href="/search.html" class="index404">点击前往搜索更多</a>
</div>