---
title: 创意设计
description: "分享那些值得欣赏的设计和创意"
---

       <style>
        body{
            margin:0;padding:0;
            font-family: PingFang SC,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
        }
        a, button.submit {
            color:#6E7173;
            text-decoration:none;
            -webkit-transition:all .1s ease-in;
            -moz-transition:all .1s ease-in;
            -o-transition:all .1s ease-in;
            transition:all .1s ease-in;
        }
        a:hover, a:active {
            color:#6E7173;
        }
        .body404{
            position: absolute;
            height: 100%;
            width: 100%;
            background:#fff;
            background-size: auto 100%;
        }
        .body-about .body404{
            background:#fff;
        }
        .site-name404 {
            margin: 0 auto;
            text-align: center;
            letter-spacing: 2px;
            font-size: 150px;
            line-height: 1;
            font-weight: 100;
            color: #f35626;
            background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-animation: hue 60s infinite linear;
        }
        .site-name404 h1{
            margin: 0 0 10px;
            font-size:50px;
            line-height:1.2;
        }
        .title404 span{
            font-size: 15px;
            width: 2px;
        }
        .title404 p{
            font-size: 20px;
            line-height:1.5;
            margin:0;
            color:#7b8993;
        }
        .info404{
            position: absolute;
            top: 50%;
            text-align: center;
            width: 100%;
            margin-top: -160px;
        }
        .body-about .info404{
            margin-top: -180px;
        }
        #footer404{
            margin-top:30px;
            font-size:10px;
        }
        .index404 {
            margin-top: 24px;
            display: inline-block;
            white-space: nowrap;
            cursor: pointer;
            letter-spacing: 1px;
            font-size: 14px;
            -moz-user-select: -moz-none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            text-shadow: none;
            border: 2px solid #02ccba;
            line-height: 36px;
            text-align: center;
            height: 36px;
            padding: 0 25px;
            border-radius: 25px;
            background-color: #fff;
            color: #7b8993;
            box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
        }
        .icon-about{
            padding: 10px 0 25px;
        }
        .icon-about a{
            font-size: 20px;
            margin: 5px;
            color: #fff;
            background-color: #000;
            border-radius: 100%;
            padding: 6px;
        }
        @-webkit-keyframes hue {
          from {
            -webkit-filter: hue-rotate(0deg);
          }

          to {
            -webkit-filter: hue-rotate(-360deg);
          }
        }
        </style>
		
<div class="main-content index-page clearfix ">
	<div class="post-lists">
		<div class="post-lists-body">
		  {% for posts in site.posts limit:28 %}
			   {% if posts.design %}
				<div class="post-list-item">
					<div class="post-list-item-container">
					 <div class="item-thumb  bg-{{posts.background }}" style="background-image:url('{{posts.background-image }}-300x300');"></div>
						<a href="{{ posts.url }}">
							 <div class="item-desc">
								<p>{{ posts.content | strip_html | strip_newlines | truncate: 75 }}</p>
							</div>
						</a>
						<div class="item-slant reverse-slant  bg-{{ posts.background }}"></div>
						<div class="item-slant"></div>
						<div class="item-label">
							<div class="item-title"><a href="{{ posts.url }}">{{ posts.title }}</a></div>
							<div class="item-meta clearfix">
							<div class="item-meta-ico bg-ico-book" style="background: url('../style/images/bg-ico.png') no-repeat;background-size: 40px auto;"></div>
							 <div class="item-meta-cat">
								 <a href="/design">{{ posts.category }}</a>
								 <a href="/archives#{{ posts.date | date: "%Y"}}" title="访问 {{ posts.date | date: "%Y"}}" data-hover="{{ posts.date | date: "%F %H:%M"}}">{{ posts.date | date: "%F %H:%M"}}</a>
							</div>
							</div>
						</div>
					</div>
				</div>
				 {% endif %}
		   {% endfor %}
		</div>
	</div>

	<div class="body404">
		<div class="info404">
			<section>
				<div class="title404">
					<p>Sorry,实在找不到😄 <br>要不双击ctrl来搜索吧</p>
				</div><a href="/search.html" class="index404">前往搜索</a>
			</section>
		</div>
	</div>
	
	
<!-- jQuery -->
<script src="//cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
<div class="cb-search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px; opacity: 0.95; background-color: #111111; z-index: 9999;display:none;">
    <input style="    background: rgba(0,0,0,0.5); border: 2px solid #02ccba; color: #fff;box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);text-align: center;line-height: 40px;font-size: 12px;font-weight: bold; z-index:99;width: 50%;border-radius: 50px;height: 50px;left:25%;/*FF IE7*/top: 50%;/*FF IE7*/
	margin-top:-60px!important;margin-top:0px;position:fixed!important;/*FF IE7*/position:absolute;/*IE6*/"type="text" class="form-control cb-search-content" id="cb-search-content" style="position: fixed; top: 60px" placeholder="文章标题 日期 标签" >
</div>
<script src="//cdn.bootcss.com/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
<script src="/search/js/cb-search.js"></script>