---
title: 创意设计
description: "分享那些值得欣赏的设计和创意"
---

<div class="main-content index-page clearfix ">
	<div class="post-lists">
		<div class="post-lists-body">
		  {% for posts in site.posts limit:27 %}
			   {% if posts.design %}
				<div class="post-list-item">
					<div class="post-list-item-container">
					 <div class="item-thumb  bg-{{posts.background }}" style="background-image:url('{{posts.background-image }}-300x300');"></div>
						<a href="{{ posts.url }}">
							 <div class="item-desc">
								<p>{{ posts.content | strip_html | strip_newlines | truncate: 75 }}</p>
							</div>
						</a>
						<div class="item-slant reverse-slant  bg-{{ posts.background }}"></div>
						<div class="item-slant"></div>
						<div class="item-label">
							<div class="item-title"><a href="{{ posts.url }}">{{ posts.title }}</a></div>
							<div class="item-meta clearfix">
							<div class="item-meta-ico bg-ico-book" style="background: url('../style/images/bg-ico.png') no-repeat;background-size: 40px auto;"></div>
							 <div class="item-meta-cat">
								 <a href="/design">{{ posts.category }}</a>
								 <a href="/archives#{{ posts.date | date: "%Y"}}" title="访问 {{ posts.date | date: "%Y"}}" data-hover="{{ posts.date | date: "%F %H:%M"}}">{{ posts.date | date: "%F %H:%M"}}</a>
							</div>
							</div>
						</div>
					</div>
				</div>
				 {% endif %}
		   {% endfor %}
		</div>
	</div>

<div class="clearfix">   	
	<!-- jQuery -->
<script src="//cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
<div class="cb-search-tool">
    <input style="    background: rgba(0,0,0,0.5); border: 2px solid #02ccba; color: #fff;box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);text-align: center;line-height: 40px;font-size: 12px;font-weight: bold; z-index:99;width: 50%;border-radius: 50px;height: 50px;left:25%;"type="text" class="form-control cb-search-content" id="cb-search-content" placeholder="文章标题 日期 标签" >
</div>
<script src="//cdn.bootcss.com/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
<script src="/search/js/cb-search.js"></script>
</div>