<!DOCTYPE html>
<html lang="en" class=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" type="image/x-icon" href="https://blog.pangsuan.com/favicon.ico">
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>{{ page.title }}</title>
<link href="../style.css" rel="stylesheet">

</head>
<body>
<div class="page home"><div id="user"></div><div id="posts"></div></div>
<div class="page single page-current">
<div id="post"><div class="back">
<svg xmlns="http://www.w3.org/2000/svg" class="icon" version="1" viewBox="0 0 1024 1024"><path d="M774 467H415l110-108c18-18 18-48 0-66a48 48 0 0 0-67 0L273 475a47 47 0 0 0-11 11 45 45 0 0 0 13 66l183 180c19 18 48 18 67 0 18-18 18-47 0-65L415 559h359c26 0 48-21 48-46s-22-46-48-46zm0 0"></path><path d="M512 93a419 419 0 1 1 0 838 419 419 0 0 1 0-838m0-93A509 509 0 0 0 0 512a509 509 0 0 0 512 512 509 509 0 0 0 512-512A509 509 0 0 0 512 0z"></path></svg></div>
<h1>{{ page.title }}</h1>

<div class="markdown-body">
{{ content }}
</div>

 <div id="footer">
    © 2019 香蕉皮-特别版. Powered by
    <a href="https://vfaxian.com" target="_blank">微发现</a>
  </div></div></div>
</body></html>
